@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeue-Regular"), url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
        url("../fonts/BebasNeue-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

#wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596f5;
}

.header__container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.header__nav-item {
    margin-left: 40px;
    margin-right: 40px;
}

.header__nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.2s linear;
}

.header__nav-link:hover {
    color: #117ce7;
}

.header__contacts {
    min-width: 142px;
    text-align: right;
}

.header__contacts-text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}

.header__contacts-phone {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    transition: color 0.2s linear;
}

.header__contacts-phone:hover {
    color: #117ce7;
}

/* Main */
.main__container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 40px;
}

.main__image {
    width: 100%;
}

.main__home path {
    opacity: 0;
    cursor: pointer;
}

.main__home path:hover {
    opacity: 1;
}

path.current-floor {
    opacity: 1;
}

.main__info {
    flex-grow: 1;
    text-align: center;
    padding: 68px 20px 68px 122px;
}

.main__title {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
    margin-bottom: 115px;
}

.main__counter-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.main__counter {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.main__counter-number {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: #635854;
    margin: 35px 0px;
}

.counter-down {
    transform: rotateX(180deg);
}

.button-primary {
    background-color: #3596f5;
    border-radius: 6px;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 16px 36px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.button-primary:hover {
    background-color: #635854;
}

/* Footer */
.footer {
    background-color: #d7d7d7;
    border-top: 4px solid #3596f5;
}

.footer__container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 23px;
}

.footer__left {
    display: flex;
    align-items: center;
}

.footer__logo {
    margin-right: 38px;
}

.footer__contacts {
    margin-right: 60px;
    font-size: 14px;
    line-height: 16px;
    color: #635854;
    transition: background-color 0.2s linear;
}

.footer__contacts-phone {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #635854;
    transition: color 0.2s linear;
}

.footer__contacts-phone:hover {
    color: #117ce7;
}

.footer__social {
    text-decoration: none;
    margin-right: 15px;
}

.footer__right {
    display: flex;
    align-items: center;
    text-align: right;
}

.footer__nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}

.footer__nav-item {
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.2s linear;
}

.footer__nav-link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #635854;
    border-bottom: 1px solid #635854;
    transition: border-bottom 0.2s linear, color 0.2s linear;
}

.footer__nav-link:hover {
    border-bottom: none;
    color: #117ce7;
}

/* Modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s linear;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.modal__dialog {
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s linear, opacity 0.2s linear;
    transition-delay: 0.2s;
}

.is-open > .modal__dialog {
    opacity: 1;
    transform: translateY(0);
}

.modal__image {
    background-color: #ebebeb;
    width: 60%;
    text-align: center;
    padding: 50px 66px 57px 102px;
}

.flats path {
    opacity: 0;
    cursor: pointer;
}

path.current-flat {
    opacity: 1;
}

.modal__title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 26px 0;
}

.modal__info {
    width: 40%;
    padding: 50px 46px 62px 46px;
}

.modal__title-flat {
    margin-bottom: 55px;
}

.flat__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 56px;
}

.flat__item {
    margin-bottom: 10px;
}

.flat__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    transition: color 0.2s linear, text-decoration 0.2s linear;
}

a.current-link {
    color: #117ce7;
    text-decoration: underline;
    cursor: pointer;
}

.modal__alert {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
}

.modal__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 38px 27px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    /* outline: none; */
}
